.Wrapper {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
}
.Container {
    width: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5vh; 
   justify-items: center;
}
.Title {
    margin-left: 1em;
    margin-top: 30vh;
    font-size: x-large;
}
.Description {
    margin-left: 1.3em;
    width: 80%;
}
.Video {
    width:fit-content ;
    height: 90vh;

    /* justify-content: flex-end; /* Horizontalmente */
  /*   height: 85vh; */
    align-self: flex-start;     /* Verticalmente */
    object-position: center;
}

.Card {
    position:relative;
    width: 25vw;
    height: 20vh;
    background-color: white;
    display: block;
    text-align: center;
    padding: 1.5em 0 1.5em 0;
    border-radius: 5px;
    box-shadow: 2px 4px 7px 3px rgba(0,0,0,0.25);
    margin-top: 4vh;
}

.Icon {
    width: 2em;
    height: 2em;
}

.Imagen {
    display: none;
}

@media (max-width: 768px) {

    .Wrapper {
        display: block;
    }

    .Title {
        margin-top: 15vh;
    }
    
    .Video {
        width: 100%;
        height: fit-content;
        margin-top: 5vh;
    }

}
@media (900px > width > 769px) {
    .Container {
        grid-template-columns: 1fr 1fr; 
    }
    .Card {
        width: 40vw;
    }
}