.Container {
    display:flex;
    justify-content: space-around;
}
.FirstCard {
    width: 20vw;
    height: fit-content;
    background-color: white;
    display: block;
    text-align: center;
    padding: 1.5em 0 2em 0;
    border-radius: 5%;
    box-shadow: 2px 4px 7px 3px rgba(0,0,0,0.25);
    margin-top: 4vh;
}

.Icon {
    width: 2em;
    height: 2em;
}

@media (max-width: 768px) {
    .Container {
        display: grid;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr;
        row-gap: 3vh;
        margin-left: 1.5em;
    }
    .FirstCard {
        width: 40vw;
        height: 10vh;
        margin-top: 0;
    }

    .FirstCard h3 {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    .FirstCard p {
        font-size: smaller;
    }
    
}

@media (max-height: 780px) {
    .FirstCard h3{
        font-size: small;
    }
}