.Container {
    position: relative;
}

.WrapperInfo{
    position: absolute;
    width: 26vw;
    height: 80vh;
    background-color: black;
    color: white;
    margin-top: 15vh;
  /*   margin-left: 5vw; */
    text-align: center;
    display: grid;
    align-items: center;
    align-content: center;
    text-align: start;
    padding-left: 2em;
    padding-right: 2em;
    z-index: 1;
    transform: translateY(-12%);
}

.WrapperInfo p {
    margin-top: 2em;
    font-size: small;
}

.WrapperInfo h3 {
    margin-top: 0;
}
.WrapperMap {
    /* margin-left: 35vw; */
    margin-top: 10vh;
    height: 90vh;
}

@media (max-width: 768px) {
    .WrapperMap {
        margin-top: 0;
        margin-left: 0;
        width: 100% !important;
        height: 100%;
        margin-bottom: 80vh;
    }

    .WrapperInfo {
        height: 80vh;
        margin-top: 110vh;
        margin-left: 0;
        padding-left: 5vw;
        padding-right: 5vw;
        width: 90vw;
    }
    .WrapperInfo p {
        font-size: small;
    }
}