.Desktop {
  /*   background-color:black; */
    background-color:#000000;
    color: white;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 0;
}
h2 {
    font-weight: 800;
    padding-left: 3vw;
    align-items: center;
}
.List {
    display:flex;
    min-width: 600px;
    justify-content: space-around;
    padding-right: 1em;
}
li {
    font-weight: bold;
    font-size: small;
    list-style-type: none;
}

a {
    color:white;
    text-decoration: none;
    align-self: center;
}
.Mobile {
    display: none;
}

.Logo {
/*     width: 12vh; */
    width: 16vh;
    margin-left: 0.5em;
    margin-top: 2.5em;
}

@media (max-width: 768px) {
    .Desktop {
        display: none;
    }
    .Mobile {
        display: flex;
        position: fixed;
        z-index: 3;
        top: 0;
    }
    .LogosWrapper {
        display: flex;
        justify-content: space-between;
    }
    .ContainerMobile {
        background-color: black;
        color: white;
        height: min-content;
        width: 100vw;
        display: inline-block;
        justify-content: space-between;
        align-items: center;
    }
    .Burguer {
        height: min-content;
        background-color: black;
    }

}

