.Container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5vh;
    justify-items: center;
    margin: 5vh 5vw 10vh 5vw;
}
.Title {
    /* display: none; */
    margin: 15vh 0 0 2em;
}

@media (max-width: 768px) {
    .Container {
        display: inline-block;
        margin-left: 8vw;
        margin-top: 3vh;
    }
    .Title {
        display: flex;
        margin-bottom: 1em;
    }
}

@media (1000px > width > 769px) {
    .Container {
        grid-template-columns: 1fr 1fr;
    }
}
