.Container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5vh;
    justify-items: center;
    margin: 10vh 5vw 10vh 5vw;
}
.Title {
    display: none;
}

@media (max-width: 768px) {
    .Container {
        display: inline-block;
        margin-left: 8vw;
        margin-top: 3vh;
    }
    .Title {
        display: flex;
        margin-left: 1.5em;
        margin-top: 5vh;
    }
}